<!DOCTYPE html>

<html>

<head>
    <title>Error</title>
    <link rel="icon" href="/img/cloud.png"> 
    <link rel="stylesheet" href="./CSS/styles.css">
</head>

<body>
    <div>
        {{>header}}
        <p>{{errorMessage}}</p>
    </div>
    {{>footer}}
</body>

</html>