<!DOCTYPE html>

<html>

<head>
    <title>About</title>
    <link rel="icon" href="/img/cloud.png"> 
    <link rel="stylesheet" href="./CSS/styles.css">
    <script src="/js/app.js"></script>
</head>

<body>
    <div>
        {{>header}}
        <img class="portrait" src="/img/ff.png">
    </div>

    {{>footer}}
</body>

</html>