<!DOCTYPE html>

<html>

<head>


</head>

<body style="background-color:gray;">
    {{>header}}
    <p1>If a problem shows up call this phone number : {{phone}}</p1>
    {{>footer}}
</body>

</html>