<!DOCTYPE html>

<html>

<head>
    <title>Weather</title>
    <link rel="icon" href="/img/cloud.png"> 
    <link rel="stylesheet" href="./CSS/styles.css">
</head>

<body>
    <div class="main-content">
        {{>header}}
        <p>Use this link to get your weather</p>

        <form>
            <input placeholder="Location">
            <button>Search</button>
            
        </form>
    </div>
    <p id= "msg1"></p>
    <p id= "msg2"></p>
    
    {{>footer}}

    <script src="/js/app.js"></script>
</body>

</html>